.loginSignup-main{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: red;
}
.outside-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: blue;
}